/* Fonts */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  background-color: #202a34;
  text-transform: uppercase;
  outline: none;
}

/* ---------- Extend rule ---------- */
.button, .board .create-board, .board .create-column, .column-container .add-card, .column-container .btn-delete-column, .card .btn-delete-card, .btn-delete-board {
  color: #FFF;
  opacity: 0.6;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: rgba(255, 255, 255, 0);
}

/* ---------- Styles of all boards ---------- */
.board {
  margin: 80px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  min-width: 30%;
  max-width: 60%;
  min-height: 100vh;
  background-color: #0f1a25;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 30px 36px rgba(15, 26, 37, 0.71);
          box-shadow: 0px 0px 30px 36px rgba(15, 26, 37, 0.71);
}

.board h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 700;
  color: #FFF;
}

.board .create-board {
  width: 180px;
  height: 80px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin: 10px 5px;
  border: 3px solid #30ae6e;
}

.board .create-board:hover {
  opacity: 1;
}

.board .create-column {
  width: 180px;
  height: 80px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin: 10px 5px;
  border: 3px solid #30ae6e;
}

.board .create-column:hover {
  opacity: 1;
}

/* ---------- Column ---------- */
.column-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column-container .column {
  margin: 15px;
  padding: 20px;
  border: 1px dashed #4bbec0;
}

.column-container h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #4bbec0;
}

.column-container .column-card-list {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  cursor: pointer;
}

.column-container .add-card {
  width: 80px;
  height: 60px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding: 10px;
  border: 3px solid #30ae6e;
}

.column-container .add-card:hover {
  opacity: 1;
}

.column-container .btn-delete-column {
  width: 80px;
  height: 60px;
  margin: 10px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  border: 3px solid #ec4054;
}

.column-container .btn-delete-column:hover {
  opacity: 1;
}

/* ---------- Card ---------- */
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 15px;
}

.card:hover {
  background: #4bbec0;
  background-color: rgba(75, 190, 192, 0.1);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.card p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-transform: none;
  color: #FFF;
}

.card .btn-delete-card {
  width: 120px;
  height: 40px;
  margin: 10px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 300;
  border: 3px solid #ec4054;
}

.card .btn-delete-card:hover {
  opacity: 1;
}

/* ---------- New board ---------- */
.btn-delete-board {
  width: 180px;
  height: 80px;
  margin: 10px auto;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  border: 3px solid #ec4054;
}

.btn-delete-board:hover {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */